{% from 'monocles/macros.html' import result_header, result_engine, result_sub_header%}

<div class="result-content">
    <a class="thumbnail" href="{{ result.url }}" {% if results_on_new_tab %}target="_blank" rel="noopener noreferrer"{% else %}rel="noreferrer"{% endif %}>
        <img src="{{ image_proxify(result.thumbnail) }}" alt="{{ result.title|striptags }} {{ result.engine }}" />
    </a>
    <div>
        {{ result_header(result, favicons, False) }}
        {% call result_sub_header(result) -%}
        {{result_engine(result, favicons)}}
        {%- endcall %}
    </div>
</div>