{% from 'monocles/macros.html' import result_header, result_engine, result_sub_header, format_filesize%}

<div class="result-content">
    <a class="thumbnail" href="{{ result.url }}" {% if results_on_new_tab %}target="_blank" rel="noopener noreferrer"{% else %}rel="noreferrer"{% endif %}>
        <img src="{{ url_for('static', filename='img/torrent_thumb.svg') }}" alt="{{ result.title|striptags }} {{ result.engine }}" />
        <div class="torrent-banner">
            {{_("torrent")}}
            <span class="torrent-data">
                {% if result.seed and result.leech -%}
                <span>🡑: {{ result.seed }}</span>
                <span>🡓: {{ result.leech }}</span>
                {%- endif %}
                {% if result.filesize %}
                <span> {{ format_filesize(result.filesize) }} </span>
                {% endif %}
            </span>
        </div>
    </a>
    <div>
        {{ result_header(result, favicons, False) }}
        {% call result_sub_header(result) -%}
        {{result_engine(result, favicons)}}
        {%- endcall %}
    </div>
</div>
