{% extends "monocles/base.html" %}
{% block content %}

{% if errors %}
{% from 'monocles/macros.html' import errors_panel %}
<div class="content-small-centered">
    {{ errors_panel(errors, error_details) }}
</div>
{% endif %}

<div id="index">
    <img src="{{ url_for('static', filename='img/logo_searx_a.png') }}" alt="monocles logo" />
    <img id="logo_inline" src="{{ url_for('static', filename='img/logo_searx_a.png') }}" alt="monocles logo" />
    {% include 'monocles/components/search.html' %}
</div>
{% endblock %}
