{% from 'monocles/macros.html' import checkbox_toggle, support_toggle %}
{% extends "monocles/base.html" %}
{% block title %}{{ _('preferences') }} - {% endblock %}
{% block content %}

{% macro preferences_item(info, label, rtl) -%}
    <div class="preference inline {% if rtl %} rtl {% endif %}">
        <div>
            <label>{{ label }}</label>
            <div class="help-block text-muted">{{ info }}</div>
        </div>
        <div>
            {{ caller() }}
        </div>
    </div>
{% endmacro -%}


<div class="container">
    <h1>{{ _('Preferences') }}</h1>
</div>

<form method="post" action="{{ url_for('preferences') }}" id="preferences" class="container">

    <div id="controls">
        <input type="radio" class="tab-radio" id="tab_general_r" value="general" name="tab" checked>
        <div id="tab_general" class="tab-content">
            <fieldset>
                {% set language_label = _('Search language') %}
                {% set language_info = _('What language do you prefer for search?') %}
                {% call preferences_item(language_info, language_label, rtl) %}
                    {% include 'monocles/components/languages.html' %}
                {% endcall %}

                {% set locale_label = _('Interface language') %}
                {% set locale_info = _('Change the language of the layout') %}
                {% call preferences_item(locale_info, locale_label, rtl) %}
                    <select class="form-control custom-select" name='locale'>
                        {% for locale_id,locale_name in locales.items() | sort %}
                        <option value="{{ locale_id }}" {% if locale_id == current_locale %}selected="selected"{% endif %}>{{ locale_name }}</option>
                        {% endfor %}
                    </select>
                {% endcall %}

                {% set autocomplete_label = _('Autocomplete') %}
                {% set autocomplete_info = _('Find stuff as you type') %}
                {% call preferences_item(autocomplete_info, autocomplete_label, rtl) %}
                    <select class="form-control custom-select" name="autocomplete">
                        <option value=""> - </option>
                        {% for backend in autocomplete_backends %}
                        <option value="{{ backend }}" {% if backend == autocomplete %}selected="selected"{% endif %}>{{ backend }}</option>
                        {% endfor %}
                    </select>
                {% endcall %}

                {% set image_proxy_label = _('Image proxy') %}
                {% set image_proxy_info = _('Proxying image results through searx') %}
                {% call preferences_item(image_proxy_info, image_proxy_label, rtl) %}
                    <select class="form-control custom-select" name='image_proxy' data-hide-search>
                        <option value="1" {% if image_proxy  %}selected="selected"{% endif %}>{{ _('Enabled') }}</option>
                        <option value="0" {% if not image_proxy %}selected="selected"{% endif %}>{{ _('Disabled')}}</option>
                    </select>
                {% endcall %}

                {% set safesearch_label = _('SafeSearch') %}
                {% set safesearch_info = _('Filter content') %}
                {% call preferences_item(safesearch_info, safesearch_label, rtl) %}
                    <select class="form-control custom-select" name='safesearch' data-hide-search>
                        <option value="2" {% if safesearch == '2' %}selected="selected"{% endif %}>{{ _('Strict') }}</option>
                        <option value="1" {% if safesearch == '1' %}selected="selected"{% endif %}>{{ _('Moderate') }}</option>
                        <option value="0" {% if safesearch == '0' %}selected="selected"{% endif %}>{{ _('None') }}</option>
                    </select>
                {% endcall %}

                {% call preferences_item(_('Choose style for this theme'), _('Style'), rtl) %}
                    <select class="form-control custom-select" name='monocles-style' data-hide-search>
                        <option value="light" {% if preferences.get_value('monocles-style') == 'light' %}selected="selected"{% endif %}>Light</option>
                        <option value="dark" {% if preferences.get_value('monocles-style') == 'dark' %}selected="selected"{% endif %}>Dark</option>
                    </select>
                {% endcall %}

                {% set label = _('Results on new tabs') %}
                {% set info = _('Open result links on new browser tabs') %}
                {% call preferences_item(info, label, rtl) %}
                    <select class="form-control custom-select" name='results_on_new_tab' data-hide-search>
                        <option value="1" {% if results_on_new_tab %}selected="selected"{% endif %}>{{ _('On') }}</option>
                        <option value="0" {% if not results_on_new_tab %}selected="selected"{% endif %}>{{ _('Off')}}</option>
                    </select>
                {% endcall %}
            </fieldset>
        </div> <!-- End General Tab -->


        <input type="radio" class="tab-radio" id="tab_engines_r" value="engines" name="tab">
        <div id="tab_engines" class="tab-content">

            {% for categ in categories %}
            <!-- <input type="radio" class="tab-radio" id="" value="" name="engines_category_tab"> -->
            <section id="engines">
                <h3>{{categ}}</h3>
                {% for search_engine in engines_by_category[categ] %}
                {% if not search_engine.private %}
                    <div class="engine">
                        {% set disabled = (search_engine.name, categ) in disabled_engines %}
                        {{ checkbox_toggle('engine_' + search_engine.name | replace(' ', '_') + '__' + categ | replace(' ', '_'), disabled) }}
                        <span class="data">
                           <b>{{ search_engine.name }}</b><br>
                            <small class="danger"><i>
                                {% set support_text_str = [(stats[search_engine.name].supports_selected_language, "%s %s " | format(locales[current_locale], _("not supported"))), 
                                                           (search_engine.safesearch == True, _("No safe search")), 
                                                           (not(stats[search_engine.name]['warn_time'] or stats[search_engine.name]['warn_timeout']), _("Slow"))] %}
                                {{ support_text_str | rejectattr(0) | map(attribute=1) | join(", ") }}
                            </i></small>
                        </span>
                    </div>
                {% endif %}
                {% endfor %}
            </section>
            {% endfor %}
        </div>  <!-- End Engines Tab -->


        <input type="radio" class="tab-radio" id="tab_advanced_r" value="advanced" name="tab">
        <div id="tab_advanced" class="tab-content">
            <section>
                <h3>{{_("Plugins")}}</h3>            
                <fieldset>
                    <ul>
                        {% for plugin in plugins %}
                        <li>
                            <div>
                                {{ checkbox_toggle('plugin_' + plugin.id, plugin.id not in allowed_plugins) }}
                                <b>{{ _(plugin.name) }}</b>
                            </div>
                            <p>{{ _(plugin.description) }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </section>

            {% if answerers %}
            <section id="answerers">
                <h3>{{ _('Answerers') }}</h3>
                <p>{{ _('This is the list of searx\'s instant answering modules.') }}</p>
                <ul>
                    {% for answerer in answerers %}
                    <li>
                        <p><b>{{ answerer.info.name }}</b> <i>{{ _('Keywords') }}: {{ answerer.keywords|join(', ') }}</i></p>
                        <p>{{ answerer.info.description }}</p>
                        <div>
                            <b>{{ _('Examples') }}</b>
                            <p>{{ answerer.info.examples|join(', ') }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}

            <section id="cookies">
                <h3>{{ _('Cookies') }}</h3>
                <p>
                    {{ _('This is the list of cookies and their values searx is storing on your computer.') }}<br/>
                    {{ _('With that list, you can assess searx transparency.') }}<br />
                </p>
                {% if cookies %}
                <ul id="cookies_list">
                    {% for cookie in cookies %}
                    <li>
                        <i class="text-muted">{{ cookie }}</i>: <span class="cookie-value">{{ cookies[cookie] }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    {% include 'monocles/messages/no_cookies.html' %}
                {% endif %}
            </section>
        </div> <!-- End Advanced Tab -->


        <!-- this layout might not be very optimal without styling, but the benefits of having JS-less tabs are well worth it -->
        <div id="tabs">
            <label for="tab_general_r">{{_("General")}}</label>
            <label for="tab_engines_r">{{_("Engines")}}</label>
            <label for="tab_advanced_r">{{_("Advanced")}}</label>
        </div>

        <!-- super hack -->
        <style>
            {% for tab_name in ['tab_general_r', 'tab_engines_r', 'tab_advanced_r'] %}
            #{{tab_name}}:checked ~ #tabs > label[for="{{tab_name}}"] {
                font-weight: bold;
            }
            {% endfor %}
        </style>
    </div>


    <div id="info">
        {% if errors %}
        {% from 'monocles/macros.html' import errors_panel %}
        {{ errors_panel(errors) }}
        {% endif %}

        <div id="notice">
            <p>{{ _('These settings are stored in your cookies, this allows us not to store this data about you.') }}
            <br/>
            {{ _("These cookies serve your sole convenience, we don't use these cookies to track you.") }}
            </p>
        </div>

        <div>
            <p>{{ _('Search URL of the currently saved preferences') }} <small class="text-muted">({{ _('Note: specifying custom settings in the search URL can reduce privacy by leaking data to the clicked result sites.') }})</small>:<br/> </p>
            <input readonly="" class="input-current-preferences select-all-on-click block" type="url" value="{{ url_for('index', _external=True) }}?preferences={{ preferences_url_params|e }}{% raw %}&amp;q=%s{% endraw %}">
        </div>

        <section id="action_buttons">
            <div>
                <input type="submit" class="btn btn-block" value="{{ _('save') }}" />
                <a href="{{ url_for('index') }}" class="btn btn-block">{{ _('back') }}</a>
            </div>
            <a href="{{ url_for('clear_cookies') }}" class="btn btn-block danger">{{ _('Reset defaults') }}</a>
        </section>
    </div>
</form>
{% endblock %}