{% from 'monocles/macros.html' import navbar_menu %}
<input type="checkbox" name="nav_toggle" id="nav_toggle" class="hidden">
<div class="navbar-left">
  <a href="https://store.monocles.eu/">{{_('Store')}}</a>
</div>

<div class="navbar">

  <div class="dropdown">
    <button style="text-align:right;" class="dropbtn">≡
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="https://ocean.monocles.eu/">{{_('Ocean')}}</a>
        <a href="https://mail.monocles.eu/">{{_('Mail')}}</a>
        <a href="https://monocles.social/">{{_('Social')}}</a>
        <a href="https://monocles.eu/conversejs">{{_('Chat')}}</a>
        <a href="https://translate.monocles.de/">{{_('Translator')}}</a>
        <a href="https://monocles.live/">{{_('Videos')}}</a>
        <hr class="separator" />
        <a href="https://ocean.monocles.eu/apps/registration/">{{_('Register')}}</a>
        <a href="https://monocles.eu/more/">{{_('about')}}</a>
        <a href="https://monocles.wiki/">{{_('Wiki')}}</a>
        <hr class="separator" />
        <a href="{{ url_for('preferences') }}">{{ _('preferences') }}</a>

        <span class="nav_dark-mode">
            <label class="switch">
                <input id="dark-mode-switch" type="checkbox" {% if preferences.get_value('monocles-style') == 'dark' %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="nav_dark-mode--label"><label for="dark-mode-switch">Dark<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
        </span>

    </div>
  </div>
</div>

<div id="nav_cover"></div>

{{ navbar_menu() }}
